/*style.css*/

.vertical-menu {
    width: 100%;
	text-decoration: none;
}

.vertical-menu li a {
    background-color: white;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
	font-family: "amatic SC";
	font-size: 15px;
}

.vertical-menu li a:hover {
    background-color: white;
	text-decoration: none;
}
 .item{
	width: 100%;
	height:70%; 
	
}
.arrows{
	width: 100%;
	height:70%; 
	
}
.itemactive{
	width: 100%;
	height:70%; 
	
}
.current {
    background-color: black;
    color: white;
	text-decoration: none;
}
.nav {
	text-decoration: none;
} 
.contact h2 {
	font-family: "Courier New";
	font-size: 15px; 
}
.contact h1 {
	font-family: "Courier New";
	font-size: 10px; 
}
.contact p {
	font-family: "Courier New";
	font-size: 10px; 
}
.quote {
		font-family: "Courier New";
	font-size: 10px; 
}
.icons{
	text-align: center;
	font-family: Helvetica;
	font-size: 11px; 
	
}
.fa {
	margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    width: 30px;
    text-decoration: none;
    border-radius: 50%;
}
.fa-pinterest {
  background: #f27a6f;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

.fa-facebook {
  background: #839bef;
  color: white;
}

.fa-twitter {
  background: #81c7ef;
  color: white;
}

.fa-google {
  background: #f27a6f;
  color: white;
}
.story{
	text-align: center ;
	padding-right: 11%;
	padding-left:  11%;
}
.col-sm-9{
		padding-left: 10px;
}