/*style.css*/

.nav ul{
	list-style-type: none;
	margin: 0;
	padding:0;
	
	overflow:hidden;
	
	border: 2px;
	border-style: solid;
	border-color: white;
	background-color: white;
	color: white;
	height: 50px;
	
	position:relative;
	top: 0px;
	left: 0px;
	
	font-family: "amatic SC";
	font-size: 15px;
	font-size-adjust:0.6;
}
.nav li {
	float: left;
	display: inline;
	border-bottom: 2px;
	margin: 10px;
	padding:10px;
	color: white;
}

.nav  li a{
	text-align: center;
	text-align: center;
	display: block;
	padding: 8px;
	text-decoration:none;
	color: black;
}

.nav li a:hover {
	border-color: #7e7f82; 
}
.current{
	border: 2px black;
	border-color: #7e7f82 ;
	height: 40px;
}
.external li a {
	color: #db7120;
}
.dropdown {
	border: 2px black;
    position: relative;
    display: inline-block;
}

.dropdown-content {
	border: 2px black ;
    display: none;
    position: absolute;
    background-color: #a9a9a9;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
